@{
	ViewData["Title"] = "Xoa Db";
}
<h1>ViewData["Title"]</h1>
<p class="alert alert-danger">
	Có chắc xóa
</p>
<form method="post">
	<button type="submit" class="btn btn-danger">
		Xóa Db
	</button>

</form>
<hr />
<a asp-action="Index">Quan li Db</a>