
@{
    ViewData["Title"] = "AddRole";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@model Role

<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">Thêm role</h1>
           

            </div>
        </div>
        <!-- /. ROW  -->
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="panel panel-info">
                    <div class="panel-body">
                        <form role="form" asp-action="AddRole">
                            <div class="form-group">
                                <label>Tên role</label>
                                <input class="form-control" type="text" asp-for="@Model.RoleName">
   
                            </div>
                            <button type="submit" class="btn btn-info">Thêm </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>


    </div>
    <!-- /. PAGE INNER  -->
</div>