@* <div class="dropdown">
	<a class="btn btn-outline-danger dropdown-toggle" href="#"
	id="managedropdownmenu" data-toggle="dropdown">
		Manage
	</a>
	<div class="dropdown-menu" aria-labelledby="managedropdownmenu">
		<a class="dropdown-item" asp-action="Index" asp-controller="DbManager" asp-area="DataBase">
			 Database</a>
	</div>
</div>	 *@
<div class="dropdown">
	<a class="btn btn-outline-danger dropdown-toggle" href="#" id="managedropdownmenu" data-toggle="dropdown">
		Manage
	</a>	
 	<div class="dropdown-menu" aria-labelledby="managedropdownmenu">
		<a class="dropdown-item" asp-area="DataBase" asp-controller="DbManager" asp-action="Index">Database</a>
	</div>	
</div>
